//variables

$md-screen: "475px";
$soft-red: #FE7766;
$yellow: #FAD400;
$dark-desaturated-cyan: #90D4C6;
$light-green: #458D7E;
$dark-green:#24554A;
$very-dark-desaturated-blue:#24303E;
$dark-gray: #5B636D;
$gray: #A7AAAD;
$grayish-blue: #808397;
$black: #000000;
$white: #FFF;
$size:18px;



//mixin
@mixin media-minwidth($screensize) {
    @media (max-width:$screensize) {
        @content;
    }
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.ttf');
}


@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces.ttf');
}

//code
body {
    margin: 0px;
    font-size: 18px;
    width: 100%;
    height: 100%;

}



header {
    background-image: url(../Images/image-header.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: auto;
    height: 100vh;

    .container_header {
        display: flex;
        justify-content: space-between;
        padding-top: 1%;
        padding-left: 1%;

    
        &__burger{
            display: none;
            
            @include media-minwidth($md-screen)
            {
                display: block;
                margin-right: 10px;
                margin-top: 10px;

            }
        }

     
        &__item {
            display: flex;
            justify-content: space-around;
            width: 50%;
            color: $white

            &__link{
                color: $white;
                font-family: 'Barlow';
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: -0.129px;
            }

            &__contact {
                background-color: $white;
                color: $black;
                border: 1px $white;
                border-radius: 28px;
                padding: 10px 20px;
                opacity: 1;
                font-family: 'Fraunces';
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: -0.107px;
                text-transform: uppercase;

                &:hover {
                    color: $white;
                    background-color: #ffffff99;
                }
            }


            @include media-minwidth($md-screen)
            {
                display: none;
            }

            
        }
    }

    h1 {
        color: $white;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 56px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 8.75px;
        text-transform: uppercase;

        @include media-minwidth($md-screen){
            padding-top: 37%;
        }
    }

    .logo {
        width: 5%;
        padding: 2% 0% 0% 47%;
    }
}


section {
    .egg_picture {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        float: right;

        @include media-minwidth($md-screen){
            width: 100%;
        }
        

        img {
            width: 100%;
        }
    }

    .egg_picture__text_transform {
        display: flex;
        height: 482px;
        flex-direction: column;
        padding-top: 10%;
        @include media-minwidth($md-screen){
            width: 100%;
        }


        &__title {
            color: $very-dark-desaturated-blue;
            font-family: 'Fraunces';
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.286px;

        }

        &__p {
            color: $grayish-blue;
            font-family: 'Barlow';
            padding-right: 17%;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.129px;
        }

        &__item,
        &__hover__link {
            padding-left: 20%;
        }

        &__hover {


            &__link {
                color: $very-dark-desaturated-blue;
                font-family: 'Fraunces';
                font-size: 15px;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            &__line {
                background-color: lighten($yellow, 30);
                border-radius: 28%;
                margin-left: 20%;
                margin-right: 64%;
                color: lighten($yellow, 30);
                display: flex;
            }

            &:hover {
                background-color: $yellow;
                border-radius: 28%;
                margin-left: 20%;
                margin-right: 64%;
                color: $yellow;
            }

        }
    }
}

section {
    .red_glass {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 10%;

        @include media-minwidth($md-screen){
            width: 100%;
        }

        &__item {
            padding-left: 20%;

        }

        &__title {
            color: $very-dark-desaturated-blue;
            font-family: 'Fraunces';
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.286px;
        }

        &__p {
            color: $grayish-blue;
            font-family: 'Barlow';
            padding-right: 17%;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.129px;
        }

        &__hover__link {
            padding-left: 20%;
        }

        &__hover {


            &__link {
                color: $very-dark-desaturated-blue;
                font-family: 'Fraunces';
                font-size: 15px;
                font-weight: 900;
                line-height: 25px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            &__line {
                background-color: lighten($soft-red, 30);
                border-radius: 28%;
                margin-left: 20%;
                margin-right: 64%;
                color: lighten($soft-red, 30);
                display: flex;

            }

            &:hover {
                background-color: $soft-red;
                border-radius: 28%;
                margin-left: 20%;
                margin-right: 64%;
                color: $soft-red;

            }

        }

        img {
            width: 50%;
        }
    }
}

.espace {
    width: 100%;
    display: flex;

    @include media-minwidth($md-screen){
        flex-direction: column;
    }

    img {
        width: 100%;

        @include media-minwidth($md-screen){
            width: 100%;
            
            
        }
    }
}

.cherry_clem {
    display: flex;
    @include media-minwidth($md-screen){
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 100%;
        @include media-minwidth($md-screen){
            width: 100%;
        }

        & h3 {
            color: $dark-green;
            font-family: 'Fraunces';
            font-size: 28px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -0.2px;

            @include media-minwidth($md-screen){
                margin-top: 70%;
            }
        }

        & p {
            color: $dark-green;
            text-align: center;
            font-family: 'Barlow';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: -0.114px;

            @include media-minwidth($md-screen){
                margin: 0% 10% 10% 10%;
                
            }
        }
    }

    &__text_left {

        background-image: url(../Images/image-graphic-design.jpg);
        background-size: contain;
        text-align: center;
        background-repeat: no-repeat;
        padding-top: 22%;

        @include media-minwidth($md-screen){
            background-size: auto;
            background-position: center;

        }
    }

    &__text_right {

        background-image: url(../Images/image-photography.jpg);
        background-size: contain;
        height: 490px;
        text-align: center;
        background-repeat: no-repeat;
        padding-top: 22%;

        @include media-minwidth($md-screen){
            background-size: auto;
            background-position: center;

        }
    }
}


.review {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2%;

    @include media-minwidth($md-screen){
        flex-direction: column;
    }

    &__title {
        color: $gray;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 5px;
        padding-bottom: 5%;
    }

    &__emily {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include media-minwidth($md-screen){
            flex-direction: column;
            align-items: center;
            
        }

        &__item1{
            height: auto;
            max-width: 506px;
            width: 15%;
            border-radius: 72px;
            margin-left: 45%;

            @include media-minwidth($md-screen){
                margin: 0%;
            }
        }
        &__item2,&__item3,&__item4 {
            text-align: center;
        }
        

    }

    &__thomas {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include media-minwidth($md-screen){
            flex-direction: column;
            align-items: center;
            
        }

        &__item1{
            height: auto;
            max-width: 506px;
            width: 15%;
            border-radius: 72px;
            margin-left: 45%;

            @include media-minwidth($md-screen){
                margin: 0%;
            }
        }
        &__item2,&__item3,&__item4 {
            text-align: center;
        }
        
    }

    &__jennie {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__item1{
            height: auto;
            max-width: 506px;
            width: 15%;
            border-radius: 72px;
            margin-left: 45%;

            
        }
        &__item2,&__item3,&__item4 {
            text-align: center;
        }
        
    }

    &__emily__item2,&__thomas__item2,&__jennie__item2{
        color: $dark-gray;
        text-align: center;
        font-family: 'Barlow';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.129px;
    }
    &__emily__item3,&__thomas__item3,&__jennie__item3{
        color: $very-dark-desaturated-blue;
        text-align: center;
        font-family: 'Fraunces';
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.129px;
        padding-top: 12%;
    }

    &__emily__item4,&__thomas__item4,&__jennie__item4{
        color: $gray;
        text-align: center;
        font-family: Barlow;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.1px;
    }

}


footer {

    background-color: $dark-desaturated-cyan;
    height: 100vh;

    .images_footer {
        display: flex;
        flex-direction: row;
        margin-top: 250px;

        @include media-minwidth($md-screen){
            flex-wrap: wrap;
            margin-top: 0px;
        }

        &__item {
            max-width: 25%;

            @include media-minwidth($md-screen){
                max-width: 50%;
            }
        }
    }

    .container_footer {
        display: flex;
        height: 35%;

        .container_logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 5%;

            @include media-minwidth($md-screen){
                padding-top: 25%;
            }

            .logo {
                max-width: 12%;
                max-height: 12%;

                @include media-minwidth($md-screen){
                    max-width: 30%;
                }
            }

        }

        &__links {
            padding-top: 5%;
            display: flex;
            justify-content: space-around;
            width: 25%;
            
            font-family: 'Barlow';
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: -0.129px;

            a{
                color: $light-green;

                &:hover{
                    color: $white

                }
            }

            @include media-minwidth($md-screen){
                width: 100%;
                margin-top: 15%;
            }
        }

    }

    .logos_footer {
        display: flex;
        justify-content: space-around;
        width: 10%;
        padding-left: 45%;

        a{
           
            &:hover{
                color:$white
            }
        }

        @include media-minwidth($md-screen){
            width: 40%;
            padding-left: 30%;
        }

    }
}

a{
    text-decoration: none;
}