body {
    margin: auto;
    font-size: 18px;
}

header {
    background-image: url(../Images/image-header.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: auto;
    height: 100vh;

    .container_header {
        display: flex;
        justify-content: space-between;

        img {
            width: 170px;
            height: 33px;
            flex-shrink: 0;
            margin: 4px;
        }

        &__item {
            display: flex;
            justify-content: space-around;
            width: 50%;

            &__contact {
                background-color: white;
                border: 1px white;
                border-radius: 28px;
                padding: 10px 20px;
            }
        }
    }

    h1 {
        color: #FFF;
        text-align: center;
        font-family: Fraunces 9pt Soft;
        font-size: 56px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 8.75px;
        text-transform: uppercase;
    }
}



section {
    .egg_picture {
        display: flex;
        flex-direction: row-reverse;
    }
    .egg_picture__text_transform{
        display: flex;
        
    }
}