@font-face {
  font-family: "Barlow";
  src: url("Barlow-Medium.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("Fraunces.ttf");
}
body {
  margin: 0px;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

header {
  background-image: url(../Images/image-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: auto;
  height: 100vh;
}
header .container_header {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-left: 1%;
}
header .container_header__burger {
  display: none;
}
@media (max-width: 475px) {
  header .container_header__burger {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
  }
}
header .container_header__item {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: #FFF header .container_header__item __link;
  color-color: #FFF;
  color-font-family: "Barlow";
  color-font-size: 18px;
  color-font-style: normal;
  color-font-weight: 600;
  color-line-height: 25px;
  color-letter-spacing: -0.129px;
}
header .container_header__item__contact {
  background-color: #FFF;
  color: #000000;
  border: 1px #FFF;
  border-radius: 28px;
  padding: 10px 20px;
  opacity: 1;
  font-family: "Fraunces";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.107px;
  text-transform: uppercase;
}
header .container_header__item__contact:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 475px) {
  header .container_header__item {
    display: none;
  }
}
header h1 {
  color: #FFF;
  text-align: center;
  font-family: "Fraunces";
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}
@media (max-width: 475px) {
  header h1 {
    padding-top: 37%;
  }
}
header .logo {
  width: 5%;
  padding: 2% 0% 0% 47%;
}

section .egg_picture {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  float: right;
}
@media (max-width: 475px) {
  section .egg_picture {
    width: 100%;
  }
}
section .egg_picture img {
  width: 100%;
}
section .egg_picture__text_transform {
  display: flex;
  height: 482px;
  flex-direction: column;
  padding-top: 10%;
}
@media (max-width: 475px) {
  section .egg_picture__text_transform {
    width: 100%;
  }
}
section .egg_picture__text_transform__title {
  color: #24303E;
  font-family: "Fraunces";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}
section .egg_picture__text_transform__p {
  color: #808397;
  font-family: "Barlow";
  padding-right: 17%;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
}
section .egg_picture__text_transform__item, section .egg_picture__text_transform__hover__link {
  padding-left: 20%;
}
section .egg_picture__text_transform__hover__link {
  color: #24303E;
  font-family: "Fraunces";
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
section .egg_picture__text_transform__hover__line {
  background-color: #ffef94;
  border-radius: 28%;
  margin-left: 20%;
  margin-right: 64%;
  color: #ffef94;
  display: flex;
}
section .egg_picture__text_transform__hover:hover {
  background-color: #FAD400;
  border-radius: 28%;
  margin-left: 20%;
  margin-right: 64%;
  color: #FAD400;
}

section .red_glass {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10%;
}
@media (max-width: 475px) {
  section .red_glass {
    width: 100%;
  }
}
section .red_glass__item {
  padding-left: 20%;
}
section .red_glass__title {
  color: #24303E;
  font-family: "Fraunces";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}
section .red_glass__p {
  color: #808397;
  font-family: "Barlow";
  padding-right: 17%;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
}
section .red_glass__hover__link {
  padding-left: 20%;
}
section .red_glass__hover__link {
  color: #24303E;
  font-family: "Fraunces";
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
section .red_glass__hover__line {
  background-color: #fffefe;
  border-radius: 28%;
  margin-left: 20%;
  margin-right: 64%;
  color: #fffefe;
  display: flex;
}
section .red_glass__hover:hover {
  background-color: #FE7766;
  border-radius: 28%;
  margin-left: 20%;
  margin-right: 64%;
  color: #FE7766;
}
section .red_glass img {
  width: 50%;
}

.espace {
  width: 100%;
  display: flex;
}
@media (max-width: 475px) {
  .espace {
    flex-direction: column;
  }
}
.espace img {
  width: 100%;
}
@media (max-width: 475px) {
  .espace img {
    width: 100%;
  }
}

.cherry_clem {
  display: flex;
}
@media (max-width: 475px) {
  .cherry_clem {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.cherry_clem .text {
  width: 100%;
}
@media (max-width: 475px) {
  .cherry_clem .text {
    width: 100%;
  }
}
.cherry_clem .text h3 {
  color: #24554A;
  font-family: "Fraunces";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}
@media (max-width: 475px) {
  .cherry_clem .text h3 {
    margin-top: 70%;
  }
}
.cherry_clem .text p {
  color: #24554A;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
}
@media (max-width: 475px) {
  .cherry_clem .text p {
    margin: 0% 10% 10% 10%;
  }
}
.cherry_clem__text_left {
  background-image: url(../Images/image-graphic-design.jpg);
  background-size: contain;
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 22%;
}
@media (max-width: 475px) {
  .cherry_clem__text_left {
    background-size: auto;
    background-position: center;
  }
}
.cherry_clem__text_right {
  background-image: url(../Images/image-photography.jpg);
  background-size: contain;
  height: 490px;
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 22%;
}
@media (max-width: 475px) {
  .cherry_clem__text_right {
    background-size: auto;
    background-position: center;
  }
}

.review {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 2%;
}
@media (max-width: 475px) {
  .review {
    flex-direction: column;
  }
}
.review__title {
  color: #A7AAAD;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  padding-bottom: 5%;
}
.review__emily {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 475px) {
  .review__emily {
    flex-direction: column;
    align-items: center;
  }
}
.review__emily__item1 {
  height: auto;
  max-width: 506px;
  width: 15%;
  border-radius: 72px;
  margin-left: 45%;
}
@media (max-width: 475px) {
  .review__emily__item1 {
    margin: 0%;
  }
}
.review__emily__item2, .review__emily__item3, .review__emily__item4 {
  text-align: center;
}
.review__thomas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 475px) {
  .review__thomas {
    flex-direction: column;
    align-items: center;
  }
}
.review__thomas__item1 {
  height: auto;
  max-width: 506px;
  width: 15%;
  border-radius: 72px;
  margin-left: 45%;
}
@media (max-width: 475px) {
  .review__thomas__item1 {
    margin: 0%;
  }
}
.review__thomas__item2, .review__thomas__item3, .review__thomas__item4 {
  text-align: center;
}
.review__jennie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.review__jennie__item1 {
  height: auto;
  max-width: 506px;
  width: 15%;
  border-radius: 72px;
  margin-left: 45%;
}
.review__jennie__item2, .review__jennie__item3, .review__jennie__item4 {
  text-align: center;
}
.review__emily__item2, .review__thomas__item2, .review__jennie__item2 {
  color: #5B636D;
  text-align: center;
  font-family: "Barlow";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
}
.review__emily__item3, .review__thomas__item3, .review__jennie__item3 {
  color: #24303E;
  text-align: center;
  font-family: "Fraunces";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
  padding-top: 12%;
}
.review__emily__item4, .review__thomas__item4, .review__jennie__item4 {
  color: #A7AAAD;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
}

footer {
  background-color: #90D4C6;
  height: 100vh;
}
footer .images_footer {
  display: flex;
  flex-direction: row;
  margin-top: 250px;
}
@media (max-width: 475px) {
  footer .images_footer {
    flex-wrap: wrap;
    margin-top: 0px;
  }
}
footer .images_footer__item {
  max-width: 25%;
}
@media (max-width: 475px) {
  footer .images_footer__item {
    max-width: 50%;
  }
}
footer .container_footer {
  display: flex;
  height: 35%;
}
footer .container_footer .container_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5%;
}
@media (max-width: 475px) {
  footer .container_footer .container_logo {
    padding-top: 25%;
  }
}
footer .container_footer .container_logo .logo {
  max-width: 12%;
  max-height: 12%;
}
@media (max-width: 475px) {
  footer .container_footer .container_logo .logo {
    max-width: 30%;
  }
}
footer .container_footer__links {
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  width: 25%;
  font-family: "Barlow";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.129px;
}
footer .container_footer__links a {
  color: #458D7E;
}
footer .container_footer__links a:hover {
  color: #FFF;
}
@media (max-width: 475px) {
  footer .container_footer__links {
    width: 100%;
    margin-top: 15%;
  }
}
footer .logos_footer {
  display: flex;
  justify-content: space-around;
  width: 10%;
  padding-left: 45%;
}
footer .logos_footer a:hover {
  color: #FFF;
}
@media (max-width: 475px) {
  footer .logos_footer {
    width: 40%;
    padding-left: 30%;
  }
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */